<!DOCTYPE html>
<html lang="ru" xmlns:th="http:thymeleaf.org">
<csrf disabled="true"></csrf>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Пароль</th>
            <th>Роль</th>
        </tr>

        <tr th:each="usr : ${users}">
            <td th:utext="${usr.getId()}"></td>

            <td><a th:href="@{/admin/{id}(id=${usr.getId()})}" th:utext="${usr.getName()}"></a></td>

            <td th:utext="${usr.getPassword()}"></td>
            <td th:utext="${usr.getRole()}"></td>

        </tr>
        <br>
        <form method="GET" action="/admin/new">
            <input type="submit" value="Создать пользователя">
        </form>
        <br>
        <form method="GET" action="/logout">
            <input type="submit" value="LOGOUT">
        </form>
    </table>
</div>
</body>
</html>